<div class="listings-container" data-controller="listings">
  <% @listings.each do |listing| %>
    <div class="listing">
      <div class="image-container">
        <%= image_tag listing['photos'][0]['files']['medium'] %>
      </div>
      <div class="contents-container">
        <span class="title"><%= listing['title'].truncate(50) %></span>
        <span class="description"><%= simple_format listing['description'].truncate(5000) %></span>

        <div class="bottom-container">
          <div class="collection-notes-container">
            <span class="title">Collection Notes: </span>
            <span class="note"><%= listing['collection_notes'].truncate(15) %></span>
          </div>

          <div class="likes-container">
            <%= heart_image_tag_for_listing(listing) %>
          <span class="like-count" data-listing-id=<%= listing['id'] %>><%= listing['likes_count'] %></span>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</div>
