/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.content {
  height: auto;
  margin-bottom: 20px;
  max-width: 90%;
  padding-left: 100px;
}

.head {
  display: flex;
  padding-left: 10px;
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: rgba(.9, .7, .7, .2)
}

.navbar-button {
  flex: 1;
  margin: 5px;
  border-radius: 10px;
}
