.listings-container {
  .listing {
    margin-bottom: 24px;
    background-color: rgba(.2, .2, .2, .2);
    width: 1024px;
    min-height: 256px;
    display: flex;

    .image-container {
      flex: 1;
      display: flex;
      padding-top: 25px;
      justify-content: center;

      img {
        vertical-align: middle;
        text-align: center;
        max-width: 200px;
        max-height: 200px;
      }
    }

    .contents-container {
      position: relative;
      flex: 3;
    }

    .title {
      justify-content: center;
      display: inline-block;
      padding-left: 24px;
      margin-top: 24px;
      font-size: 2em;
    }

    .description {
      padding-left: 24px;
      padding-top: 24px;
      display: block;
    }

    .bottom-container {
      position: absolute;
      bottom: 10px;
    }

    .collection-notes-container {
      display: inline;

      .title {
        font-size: 1.2em;
        font-weight: bold;
      }
    }

    .likes-container {
      cursor: pointer;
      padding-left: 50px;
      display: inline;
    }
  }
}
