<!DOCTYPE html>
<html>
  <head>
    <title>OLIO Listings</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="head">
      <% if current_user %>
        <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'navbar-button' %>
      <% else %>
        <%= button_to 'Sign in', new_user_session_path, class: 'navbar-button', method: :get %>
        <%= button_to 'Sign up', new_user_registration_path, class: 'navbar-button', method: :get %>
      <% end %>
    </div>
    <div class="content">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
